@import "tailwindcss";

@theme inline {
  --color-primary: #1e3a8a; /* deep blue */
  --color-primary-hover: #1e40af;
  --color-background-alt: #f7f7f7;
  --color-background: #ffffff;
  --color-text-main: #171717;
  --color-text-muted: #525252;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
}
